.bg_img {
    width: 100%;
    opacity: 0.5;
}

body {
    background: #0062FE;
}

@font-face {
    font-family: myFirstFont;
    src: url(LemonMilkbold.woff);
}

.title {
    color: #FF82FD;
    font-family: myFirstFont;
    font-size: 90px;
    line-height: 1;

}

.content-container {
    width: 80%;
    margin: auto;
}

.facePic {
    height: 400px;
}


.windowContainer {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 10000;
    top: 50%;
}

.titleBar {
    text-align: center;
    width: 100%;
}

.infoContainer {
    background-color: blue;
    height: 94%;
    width: 75%;
    margin: auto;
    margin-top: 6%;
    border-radius: 5.7px;
    text-align: center;
}

.lemonMilk {
    font-family: myFirstFont;
}

.content-header {
    color: white;
    font-size: 33px;
    line-height: 1.4;
    display: block;

}

.content-body {
    color: white;
    line-height: 1.5;
    color: white;

}

.vid-container {
    width: 60%;
    margin: auto;
    margin-top: 4%;
}

@media screen and (max-width: 600px) {
    .vid-container {
      width: 100%;
    }
    .content-container {
        width: 100%;
    }
    .infoContainer {
        width: 100%;
    }
  }